.button {
	background: rgb(92, 170, 223);
	background: linear-gradient(90deg, rgba(92, 170, 223, 1) 0%, rgba(153, 96, 185, 1) 100%);
	transition: transform 0.3s ease-in-out;
}

.button:hover,
.button:focus {
	outline: none;
	transform: scale(105%);
}
